<p style="color: green"><%= notice %></p>

<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= turbo_frame_tag "first_turbo_frame" do %>
      <%= link_to "New quote", new_quote_path, class: "btn btn--primary" %>
    <% end %>
  </div>

  <%= render @quotes %>
</main>
